@import "./var.scss";


//=======================
//======    UI     ======
//=======================
@mixin element{
    border: none;
    border-radius: $borderRadius;
    padding: 0.4em;
    margin: 0.4em;
}


button {
    @include element;
    position: relative;
    transition-duration: 0.2s;
}

button:hover{
    transform: translate(0px -0.05em);
    box-shadow: 0px 0.2em 1em $colorShadow;
}

.btnLight{
    background-color: $colorGreenLight;
    color: $colorTextWhite;
    font-weight: bold;
}

input{
    @include element;
    background-color: $colorTextWhite;
}
