
//##Colors
//--------------------------
$colorWhite: #FFF;
$colorGreen: #21ce99;
$colorGreenLight: lighten($colorGreen, 10%);
$colorTextBlack: rgba(0,0,0,0.87);
$colorTextWhite: rgba(255,255,255,0.87);
$colorShadow: rgba(0,0,0,0.14);

//##Base
$borderRadius: 0.2em;